<div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
    <div class="noo-product-inner">
        <div class="noo-product-thumbnail">
            <a href="@Url.Action("Show", "Product", new { id = Model.id })">
                <img width="600" height="760" src="~/Content/images/@Model.image" alt="" />
            </a>
            <div class="noo-rating">
                <div class="star-rating">
                    <span style="width:0%"></span>
                </div>
            </div>
        </div>
        <div class="noo-product-title">
            <h3><a href="@Url.Action("Show", "Product", new { id = Model.id })">@Model.name</a></h3>
            <span class="price"><span class="amount">@String.Format("{0:0,0}", Model.price) vnđ</span></span>
            <div class="noo-product-excerpt">
                <p>@Model.description</p>
            </div>
            <div class="noo-product-action">
                <div class="noo-action">
                    @using (Html.BeginForm("Create", "BookingCart", new { @productId = Model.id }))
                    {
                        <a href="javascript:;" class="button product_type_simple add_to_cart_button">
                            <span>Thêm vào giỏ</span>
                        </a>
                    }
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="javascript:;" class="add_to_wishlist"></a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
