
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using DacSan3Mien.Models;
@model List<Product>

<!doctype html>
<html lang="en-US">

<body>
    <div class="noo-spinner">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
    <div class="site">
        <section class="noo-page-heading eff">
            <div class="container">
                <div class="noo-heading-content">
                    <h1 class="page-title eff">Danh sách sản phẩm</h1>
                    <div class="noo-page-breadcrumb eff">
                        <a href="index.html" class="home">Đặc sản 3 miền</a>/<span>Sản phẩm</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="main">
            <div class="commerce noo-shop-main">
                <div class="container">
                    <div class="row">
                        <div class="noo-main col-md-9">
                            <div class="noo-catalog">
                                @*<p class="commerce-result-count">Showing 1&ndash;9 of 18 results</p>*@

                                <form class="commerce-ordering pull-right">
                                    <select name="orderby" class="orderby">
                                        <option value="" selected='selected'>Sắp xếp</option>
                                        <option value="">Sắp xếp theo giá</option>
                                        <option value="">Sắp xếp theo tên</option>
                                    </select>
                                </form>
                                @*<div class="product-style-control pull-left">
                                    <span class="noo-list active"><i class="fa fa-th-list"></i></span>
                                    <span class="noo-grid"><a href="#"><i class="fa fa-th-large"></i></a></span>
                                </div>*@
                            </div>
                            <div class="products row product-list">
                                @foreach (var item in Model)
                                {
                                    @Html.Partial("_Product", item);
                                }

                            </div>
                            <div class="pagination list-center">
                                <span class="page-numbers current">1</span>
                                <a class="page-numbers" href="#">2</a>
                                <a class="page-numbers" href="#">3</a>
                                <a class="next page-numbers" href="#"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="noo-sidebar col-md-3">
                            <div class="noo-sidebar-wrap">
                                <div class="widget commerce widget_product_search">
                                    <h3 class="widget-title">Tìm kiếm</h3>
                                    <form class="commerce-product-search">
                                        <input type="search" id="commerce-product-search-field" class="search-field" placeholder="Tìm kiếm&hellip;" value="" name="s" />
                                        <input type="submit" value="Search" />
                                    </form>
                                </div>
                                <div class="widget commerce widget_product_categories">
                                    <h3 class="widget-title">Vùng miền</h3>
                                    <ul class="product-categories">
                                        <li><a href="#">Miền Bắc</a></li>
                                        <li><a href="#">Miền Trung</a></li>
                                        <li><a href="#">Miền Nam</a></li>
                                    </ul>
                                </div>
                                <div class="widget commerce widget_products">
                                    <h3 class="widget-title">Được mua nhiều nhất</h3>
                                    <ul class="product_list_widget">
                                        <li>
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="100" height="100" src="~/Assets/images/product/thumb/product_1.png" alt="" />
                                                <span class="product-title">French Bread</span>
                                            </a>
                                            <span class="amount">&#36;10.00</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="100" height="100" src="~/Assets/images/product/thumb/product_2.png" alt="" />
                                                <span class="product-title">Cookie</span>
                                            </a>
                                            <span class="amount">&#36;15.00</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="100" height="100" src="~/Assets/images/product/thumb/product_3.png" alt="" />
                                                <span class="product-title">Brown Bread</span>
                                            </a>
                                            <span class="amount">&#36;12.00</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="100" height="100" src="~/Assets/images/product/thumb/product_6.png" alt="" />
                                                <span class="product-title">Apples</span>
                                            </a>
                                            <span class="amount">&#36;3.95</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="100" height="100" src="~/Assets/images/product/thumb/product_7.png" alt="" />
                                                <span class="product-title">Pomegranates</span>
                                            </a>
                                            <span class="amount">&#36;3.90</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="widget commerce widget_product_tag_cloud">
                                    <h3 class="widget-title">Sản phẩm khác</h3>
                                    <div class="tagcloud">
                                        <a href="#">apple</a>
                                        <a href="#">bread</a>
                                        <a href="#">broccoli</a>
                                        <a href="#">brown bread</a>
                                        <a href="#">carrot</a>
                                        <a href="#">celery</a>
                                        <a href="#">cookie</a>
                                        <a href="#">cucumbers</a>
                                        <a href="#">detox juicing</a>
                                        <a href="#">french bread</a>
                                        <a href="#">fruits</a>
                                        <a href="#">green apple</a>
                                        <a href="#">lemon</a>
                                        <a href="#">lime</a>
                                        <a href="#">mango</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>