@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="rev_slider_wrapper fullscreen-container">
        <div id="rev_slider_2" class="rev_slider fullscreenbanner">
            <ul>
                <li data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide">
                    <img src="~/Assets/images/banner/banner-3.jpg" alt="" width="1920" height="960" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />

                    <div class="tp-caption caption-5 tp-resizeme"
                         data-x="center"
                         data-hoffset=""
                         data-y="center"
                         data-voffset="-150"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:50px;opacity:0;s:2000;e:Power4.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        Organic products grown with love!
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset=""
                         data-y="center"
                         data-voffset="-95"
                         data-width="['none','none','none','none']"
                         data-height="['none','none','none','none']"
                         data-transform_idle="o:1;"
                         data-transform_in="x:200px;z:0px;skX:-85px;s:1500;e:Power4.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="1400"
                         data-responsive_offset="on">
                        <img src="~/Assets/images/banner/line.png" alt="" width="911" height="2" />
                    </div>

                    <div class="tp-caption caption-6 tp-resizeme"
                         data-x="center"
                         data-hoffset=""
                         data-y="center"
                         data-voffset="-50"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="x:50px;opacity:0;s:2000;e:easeOutExpo;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="2300"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05">
                        have a look at our beautiful farm
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset=""
                         data-y="center"
                         data-voffset="-5"
                         data-width="['none','none','none','none']"
                         data-height="['none','none','none','none']"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-200px;skX:45px;s:2200;e:Power4.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="1400"
                         data-responsive_offset="on">
                        <img src="~/Assets/images/banner/line.png" alt="" width="911" height="2" />
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset=""
                         data-y="center"
                         data-voffset="45"
                         data-width="['none','none','none','none']"
                         data-height="['none','none','none','none']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:50px;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="3500"
                         data-responsive_offset="on">
                        <img src="~/Assets/images/banner/shape.png" alt="" width="20" height="54" />
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset="-25"
                         data-y="center"
                         data-voffset="45"
                         data-width="['none','none','none','none']"
                         data-height="['none','none','none','none']"
                         data-transform_idle="o:1;"
                         data-transform_in="x:25px;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="4000"
                         data-responsive_offset="on">
                        <img src="~/Assets/images/banner/shape.png" alt="" width="20" height="54" />
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset="25"
                         data-y="center"
                         data-voffset="45"
                         data-width="['none','none','none','none']"
                         data-height="['none','none','none','none']"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-25px;y:0px;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="4000"
                         data-responsive_offset="on">
                        <img src="~/Assets/images/banner/shape.png" alt="" width="20" height="54" />
                    </div>

                    <div class="tp-caption caption-7 tp-resizeme"
                         data-x="center"
                         data-hoffset="-220"
                         data-y="center"
                         data-voffset="42"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:2000;e:Power4.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="5000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        REACH FOR A HEALTHIER YOU
                    </div>

                    <div class="tp-caption caption-8 tp-resizeme"
                         data-x="center"
                         data-hoffset="220"
                         data-y="center"
                         data-voffset="42"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="x:50px;opacity:0;s:2000;e:Power4.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="5000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        REACH FOR A HEALTHIER YOU
                    </div>
                </li>

                <li data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="700" data-rotate="0" data-saveperformance="off" data-title="Slide">

                    <img src="~/Assets/images/banner/banner-4.jpg" alt="" width="1920" height="1000" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />

                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset=""
                         data-y="center"
                         data-voffset="-160"
                         data-width="['none','none','none','none']"
                         data-height="['none','none','none','none']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:-50px;opacity:0;s:1500;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="500"
                         data-responsive_offset="on">
                        <img src="~/Assets/images/banner/shape-2.png" alt="" width="444" height="233" />
                    </div>

                    <div class="tp-caption caption-9 tp-resizeme"
                         data-x="center"
                         data-hoffset=""
                         data-y="center"
                         data-voffset="-58"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;"
                         data-start="1300"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        VEGAN FOOD
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset="-80"
                         data-y="center"
                         data-voffset=""
                         data-width="['none','none','none','none']"
                         data-height="['none','none','none','none']"
                         data-transform_idle="o:1;"
                         data-transform_in="x:200px;z:0px;skX:-85px;s:1350;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="2250"
                         data-responsive_offset="on">
                        <img src="~/Assets/images/banner/shape-left.png" alt="" width="60" height="21" />
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset="80"
                         data-y="center"
                         data-voffset=""
                         data-width="['none','none','none','none']"
                         data-height="['none','none','none','none']"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-200px;skX:45px;s:1350;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="2250"
                         data-responsive_offset="on">
                        <img src="~/Assets/images/banner/shape-right.png" alt="" width="60" height="21" />
                    </div>

                    <div class="tp-caption caption-10 tp-resizeme"
                         data-x="center"
                         data-hoffset=""
                         data-y="center"
                         data-voffset=""
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;"
                         data-start="2750"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.1">
                        1989
                    </div>

                    <div class="tp-caption caption-11 tp-resizeme"
                         data-x="center"
                         data-hoffset=""
                         data-y="center"
                         data-voffset="85"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:[100%];"
                         data-start="3000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        Organic products grown with love!
                    </div>

                    <div class="tp-caption caption-12 tp-resizeme"
                         data-x="center"
                         data-hoffset="-220"
                         data-y="center"
                         data-voffset="175"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;"
                         data-start="4500"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.1">
                        fruits
                    </div>

                    <div class="tp-caption caption-12 tp-resizeme"
                         data-x="center"
                         data-hoffset="-60"
                         data-y="center"
                         data-voffset="175"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;"
                         data-start="4500"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.1">
                        vegetables
                    </div>

                    <div class="tp-caption caption-12 tp-resizeme"
                         data-x="center"
                         data-hoffset="100"
                         data-y="center"
                         data-voffset="175"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;"
                         data-start="4500"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.1">
                        breads
                    </div>

                    <div class="tp-caption caption-12 tp-resizeme"
                         data-x="center"
                         data-hoffset="220"
                         data-y="center"
                         data-voffset="175"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;"
                         data-start="4500"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.1">
                        other
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset="-150"
                         data-y="center"
                         data-voffset="177"
                         data-width="['none','none','none','none']"
                         data-height="['none','none','none','none']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:-50px;opacity:0;s:1500;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="5600"
                         data-responsive_offset="on">
                        <img src="~/Assets/images/banner/text.png" alt="" width="30" height="30" />
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset="30"
                         data-y="center"
                         data-voffset="177"
                         data-width="['none','none','none','none']"
                         data-height="['none','none','none','none']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:50px;opacity:0;s:1500;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="5600"
                         data-responsive_offset="on">
                        <img src="~/Assets/images/banner/text.png" alt="" width="30" height="30" />
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset="165"
                         data-y="center"
                         data-voffset="177"
                         data-width="['none','none','none','none']"
                         data-height="['none','none','none','none']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:-50px;opacity:0;s:1500;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="5600"
                         data-responsive_offset="on">
                        <img src="~/Assets/images/banner/text.png" alt="" width="30" height="30" />
                    </div>
                </li>

                <li data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide">

                    <img src="~/Assets/images/banner/banner-5.jpg" alt="" width="1920" height="1070" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />

                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset=""
                         data-y="center"
                         data-voffset="-100"
                         data-width="['none','none','none','none']"
                         data-height="['none','none','none','none']"
                         data-transform_idle="o:1;"
                         data-transform_in="sX:1.5;sY:1.5;opacity:0;s:1500;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="500"
                         data-responsive_offset="on">
                        <img src="~/Assets/images/banner/slider3-icon.png" alt="" width="317" height="276" />
                    </div>

                    <div class="tp-caption caption-13 tp-resizeme"
                         data-x="center"
                         data-hoffset=""
                         data-y="center"
                         data-voffset="130"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;"
                         data-start="1500"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.1">
                        Organic products grown with love!
                    </div>

                    <div class="tp-caption caption-12 tp-resizeme"
                         data-x="center"
                         data-hoffset="-220"
                         data-y="center"
                         data-voffset="175"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;"
                         data-start="4500"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.1">
                        fruits
                    </div>

                    <div class="tp-caption caption-12 tp-resizeme"
                         data-x="center"
                         data-hoffset="-60"
                         data-y="center"
                         data-voffset="175"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;"
                         data-start="4500"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.1">
                        vegetables
                    </div>

                    <div class="tp-caption caption-12 tp-resizeme"
                         data-x="center"
                         data-hoffset="100"
                         data-y="center"
                         data-voffset="175"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;"
                         data-start="4500"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.1">
                        breads
                    </div>

                    <div class="tp-caption caption-12 tp-resizeme"
                         data-x="center"
                         data-hoffset="220"
                         data-y="center"
                         data-voffset="175"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;"
                         data-start="4500"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.1">
                        other
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset="-150"
                         data-y="center"
                         data-voffset="177"
                         data-width="['none','none','none','none']"
                         data-height="['none','none','none','none']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:-50px;opacity:0;s:1500;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="5600"
                         data-responsive_offset="on">
                        <img src="~/Assets/images/banner/text.png" alt="" width="30" height="30" />
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset="30"
                         data-y="center"
                         data-voffset="177"
                         data-width="['none','none','none','none']"
                         data-height="['none','none','none','none']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:50px;opacity:0;s:1500;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="5600"
                         data-responsive_offset="on">
                        <img src="~/Assets/images/banner/text.png" alt="" width="30" height="30" />
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset="165"
                         data-y="center"
                         data-voffset="177"
                         data-width="['none','none','none','none']"
                         data-height="['none','none','none','none']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:-50px;opacity:0;s:1500;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="5600"
                         data-responsive_offset="on">
                        <img src="~/Assets/images/banner/text.png" alt="" width="30" height="30" />
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
    <div class="pt-12 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="noo-sh-title noo-blog-title">
                        <h2>Khám phá đặc sản 3 miền!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <figure class="figure text-center">
            <img width="1005" height="503" class="image-top" src="~/Assets/images/layout/image_top.png" alt="" />
        </figure>
    </div>

    <div class="pt-12 pb-10 clear">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="noo-product-slider-wrap commerce">
                        <div class="noo-sh-title">
                            <h2>Đặc sản miền Bắc</h2>
                            <p>
                                Maecenas tristique gravida odio, et sagi ttis justo interdum porta. Duis et lacus mattis, tincidunt eronec <br /> dictum non nulla.
                            </p>
                        </div>
                        <div class="row noo-product-slider products product-grid">
                            <div class="noo-product-sliders">
                                <div class="masonry-item col-md-4 col-sm-6 product">
                                    <div class="noo-product-inner">
                                        <div class="noo-product-thumbnail">
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="600" height="760" src="~/Assets/images/layout/product/product_1.jpg" alt="" />
                                            </a>
                                            <div class="noo-rating">
                                                <div class="star-rating">
                                                    <span style="width:0%"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-title">
                                            <h3><a href="@Url.Action("Show", "Product")">Apples</a></h3>
                                            <span class="price"><span class="amount">&#36;3.95</span></span>
                                            <div class="noo-product-action">
                                                <div class="noo-action">
                                                    <a href="#" class="button product_type_simple add_to_cart_button">
                                                        <span>Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
                                    <div class="noo-product-inner">
                                        <div class="noo-product-thumbnail">
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="600" height="760" src="~/Assets/images/layout/product/product_2.jpg" alt="" />
                                            </a>
                                            <div class="noo-rating">
                                                <div class="star-rating">
                                                    <span style="width:60%"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-title">
                                            <h3><a href="@Url.Action("Show", "Product")">Broccoli</a></h3>
                                            <span class="price"><span class="amount">&#36;2.05</span></span>
                                            <div class="noo-product-action">
                                                <div class="noo-action">
                                                    <a href="#" class="button product_type_simple add_to_cart_button">
                                                        <span>Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
                                    <div class="noo-product-inner">
                                        <div class="noo-product-thumbnail">
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="600" height="760" src="~/Assets/images/layout/product/product_9.jpg" alt="" />
                                            </a>
                                            <div class="noo-rating">
                                                <div class="star-rating">
                                                    <span style="width:20%"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-title">
                                            <h3><a href="@Url.Action("Show", "Product")">Limes</a></h3>
                                            <span class="price"><span class="amount">&#36;0.75</span></span>
                                            <div class="noo-product-action">
                                                <div class="noo-action">
                                                    <a href="#" class="button product_type_simple add_to_cart_button">
                                                        <span>Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
                                    <div class="noo-product-inner">
                                        <div class="noo-product-thumbnail">
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="600" height="760" src="~/Assets/images/layout/product/product_10.jpg" alt="" />
                                            </a>
                                            <div class="noo-rating">
                                                <div class="star-rating">
                                                    <span style="width:0%"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-title">
                                            <h3><a href="@Url.Action("Show", "Product")">True Spinach</a></h3>
                                            <span class="price"><span class="amount">&#36;2.00</span></span>
                                            <div class="noo-product-action">
                                                <div class="noo-action">
                                                    <a href="#" class="button product_type_simple add_to_cart_button">
                                                        <span>Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
                                    <div class="noo-product-inner">
                                        <div class="noo-product-thumbnail">
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="600" height="760" src="~/Assets/images/layout/product/product_11.jpg" alt="" />
                                            </a>
                                            <div class="noo-rating">
                                                <div class="star-rating">
                                                    <span style="width:0%"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-title">
                                            <h3><a href="@Url.Action("Show", "Product")">Potatoes</a></h3>
                                            <span class="price"><span class="amount">&#36;1.80</span></span>
                                            <div class="noo-product-action">
                                                <div class="noo-action">
                                                    <a href="#" class="button product_type_simple add_to_cart_button">
                                                        <span>Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="pt-12 pb-10 clear">
        <div class="container" style="margin-top: -125px;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="noo-product-slider-wrap commerce">
                        <div class="noo-sh-title">
                            <h2>Đặc sản miền Trung</h2>
                            <p>
                                Maecenas tristique gravida odio, et sagi ttis justo interdum porta. Duis et lacus mattis, tincidunt eronec <br /> dictum non nulla.
                            </p>
                        </div>
                        <div class="row noo-product-slider products product-grid">
                            <div class="noo-product-sliders">
                                <div class="masonry-item col-md-4 col-sm-6 product">
                                    <div class="noo-product-inner">
                                        <div class="noo-product-thumbnail">
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="600" height="760" src="~/Assets/images/layout/product/product_1.jpg" alt="" />
                                            </a>
                                            <div class="noo-rating">
                                                <div class="star-rating">
                                                    <span style="width:0%"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-title">
                                            <h3><a href="@Url.Action("Show", "Product")">Apples</a></h3>
                                            <span class="price"><span class="amount">&#36;3.95</span></span>
                                            <div class="noo-product-action">
                                                <div class="noo-action">
                                                    <a href="#" class="button product_type_simple add_to_cart_button">
                                                        <span>Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
                                    <div class="noo-product-inner">
                                        <div class="noo-product-thumbnail">
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="600" height="760" src="~/Assets/images/layout/product/product_2.jpg" alt="" />
                                            </a>
                                            <div class="noo-rating">
                                                <div class="star-rating">
                                                    <span style="width:60%"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-title">
                                            <h3><a href="@Url.Action("Show", "Product")">Broccoli</a></h3>
                                            <span class="price"><span class="amount">&#36;2.05</span></span>
                                            <div class="noo-product-action">
                                                <div class="noo-action">
                                                    <a href="#" class="button product_type_simple add_to_cart_button">
                                                        <span>Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
                                    <div class="noo-product-inner">
                                        <div class="noo-product-thumbnail">
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="600" height="760" src="~/Assets/images/layout/product/product_9.jpg" alt="" />
                                            </a>
                                            <div class="noo-rating">
                                                <div class="star-rating">
                                                    <span style="width:20%"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-title">
                                            <h3><a href="@Url.Action("Show", "Product")">Limes</a></h3>
                                            <span class="price"><span class="amount">&#36;0.75</span></span>
                                            <div class="noo-product-action">
                                                <div class="noo-action">
                                                    <a href="#" class="button product_type_simple add_to_cart_button">
                                                        <span>Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
                                    <div class="noo-product-inner">
                                        <div class="noo-product-thumbnail">
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="600" height="760" src="~/Assets/images/product/product_10.jpg" alt="" />
                                            </a>
                                            <div class="noo-rating">
                                                <div class="star-rating">
                                                    <span style="width:0%"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-title">
                                            <h3><a href="@Url.Action("Show", "Product")">True Spinach</a></h3>
                                            <span class="price"><span class="amount">&#36;2.00</span></span>
                                            <div class="noo-product-action">
                                                <div class="noo-action">
                                                    <a href="#" class="button product_type_simple add_to_cart_button">
                                                        <span>Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
                                    <div class="noo-product-inner">
                                        <div class="noo-product-thumbnail">
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="600" height="760" src="~/Assets/images/product/product_11.jpg" alt="" />
                                            </a>
                                            <div class="noo-rating">
                                                <div class="star-rating">
                                                    <span style="width:0%"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-title">
                                            <h3><a href="@Url.Action("Show", "Product")">Potatoes</a></h3>
                                            <span class="price"><span class="amount">&#36;1.80</span></span>
                                            <div class="noo-product-action">
                                                <div class="noo-action">
                                                    <a href="#" class="button product_type_simple add_to_cart_button">
                                                        <span>Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="noo_testimonial_wrap">
                        <ul class="noo_testimonial">
                            <li>
                                <div class="testimonial_wrap">
                                    <div class="testimonial-header">
                                        <div class="background_image">
                                            <img width="120" height="120" class="noo_testimonial_avatar" src="~/Assets/images/avatar/avatar_1.jpg" alt="" />
                                        </div>
                                        <div class="testimonial-name">
                                            <h4 class="noo_testimonial_name">- Taylor -</h4>
                                            <span class="noo_testimonial_position">( Web Desinger )</span>
                                        </div>
                                    </div>
                                    <div class="testimonial-content">
                                        <div>
                                            <i class="fa fa-quote-left"></i>
                                            <p>
                                                Maecenas tristique gravida odio, et sagi ttis justo interdum porta. Duis et lacus mattis, tincidunt ero. Donec dictum non nulla ut tris tique gravida odio lobortis tristique gravida. Aliquam erat volutpat. Pellentesque auctor, arcu id tristique.
                                            </p>
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial_wrap">
                                    <div class="testimonial-header">
                                        <div class="background_image">
                                            <img width="120" height="120" class="noo_testimonial_avatar" src="~/Assets/images/avatar/avatar_2.jpg" alt="" />
                                        </div>
                                        <div class="testimonial-name">
                                            <h4 class="noo_testimonial_name">- Ashley -</h4>
                                            <span class="noo_testimonial_position">( Developer )</span>
                                        </div>
                                    </div>
                                    <div class="testimonial-content">
                                        <div>
                                            <i class="fa fa-quote-left"></i>
                                            <p>
                                                Maecenas tristique gravida odio, et sagi ttis justo interdum porta. Duis et lacus mattis, tincidunt ero. Donec dictum non nulla ut tris tique gravida odio lobortis tristique gravida. Aliquam erat volutpat. Pellentesque auctor, arcu id tristique.
                                            </p>
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial_wrap">
                                    <div class="testimonial-header">
                                        <div class="background_image">
                                            <img width="120" height="120" class="noo_testimonial_avatar" src="~/Assets/images/avatar/avatar_3.jpg" alt="" />
                                        </div>
                                        <div class="testimonial-name">
                                            <h4 class="noo_testimonial_name">- Olivia -</h4>
                                            <span class="noo_testimonial_position">( Web Desinger )</span>
                                        </div>
                                    </div>
                                    <div class="testimonial-content">
                                        <div>
                                            <i class="fa fa-quote-left"></i>
                                            <p>
                                                Maecenas tristique gravida odio, et sagi ttis justo interdum porta. Duis et lacus mattis, tincidunt ero. Donec dictum non nulla ut tris tique gravida odio lobortis tristique gravida. Aliquam erat volutpat. Pellentesque auctor, arcu id tristique.
                                            </p>
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>