@*@using DacSan3Mien.Helper.Product*@

<header class="noo-header header-3">
    <div class="navbar-wrapper navbar-fixed-top">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="menu-position">
                    <div class="navbar-header pull-left">
                        <div class="noo_menu_canvas">
                            <div class="btn-search noo-search">
                                <i class="fa fa-search"></i>
                            </div>
                            <div data-target=".nav-collapse" class="btn-navbar">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                            <img class="noo-logo-img noo-logo-normal" src="~/Assets/images/logo.png" alt="">
                        </a>
                    </div>
                    <nav class="pull-right noo-menu-option">
                        <a href="#" class="button-expand-option"><i class="fa fa-ellipsis-v"></i></a>
                        <ul>
                            @if (Session["userID"] != null && @Html.checkAdmin((int)Session["userID"]) == true)
                            {
                                <li class="menu-item noo-menu-item-cart minicart">
                                    <a class="cart-button" href="@Url.Action("Index", "Statistical", new { area = "Admin" })">
                                        <i class="fa fa-home"></i>Quản lý
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="menu-item noo-menu-item-cart minicart">
                                    <a class="cart-button" href="@Url.Action("Index", "BookingCart")">
                                        @Html.Action("totalBookingCart", "BookingCart")
                                    </a>
                                </li>
                            }
                            @if (Session["userID"] == null)
                            {
                                <li class="menu-item fly-right">
                                    <a href="@Url.Action("New", "User")">
                                        <i class="fa fa-user-plus"></i>Đăng ký
                                    </a>
                                </li>
                                <li class="menu-item fly-right">
                                    <a href="@Url.Action("Login", "User")">
                                        <i class="fa fa-user"></i>Đăng nhập
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="menu-item fly-right">
                                    <a href="#">
                                        <i class="fa fa-user"></i>Xin chào @Session["userName"]
                                    </a>
                                </li>
                                <li class="menu-item fly-right">
                                    <a href="@Url.Action("Logout", "User")">
                                        <i class="fa fa-sign-out"></i>Đăng xuất
                                    </a>
                                </li>
                            }

                        </ul>
                    </nav>
                    <nav class="pull-right noo-main-menu">
                        <ul class="nav-collapse navbar-nav">
                            <li class="menu-item-has-children noo_megamenu mega-col-columns-4">
                                <a href="@Url.Action("Index", "Product")">Sản phẩm</a>
                            </li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
